# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
path = 'output_data/cities.csv'
city_weather = pd.read_csv(path, encoding='utf-8')
# city_test = pd.DataFrame('/output_data/cities.csv')
city_weather.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

# Store 'Lat' and 'Lng' into  locations 
locations = city_weather[["Lat", "Lng"]].astype(float)
humidity = city_weather['Humidity'].astype(float)

In [4]:
# Create a weather Heatmap layer
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=3)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [10]:
ideal = city_weather.loc[((city_weather['Humidity'] < 70) & 
                          (city_weather['Max Temp'] > 70.0) & 
                          (city_weather['Max Temp'] < 90.0) & 
                          (city_weather['Cloudiness'] < 30))]
# ideal.count()
ideal =ideal.dropna()
ideal.head(20)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
14,14,constitucion,5,MX,1558378757,4,23.99,-104.67,84.20,16.11
56,56,pisco,0,PE,1558378764,30,-13.71,-76.20,75.99,11.41
68,68,beja,20,PT,1558378766,49,38.02,-7.87,71.60,14.99
70,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32
88,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50
114,114,koumac,0,NC,1558378775,68,-20.56,164.28,74.40,12.86
138,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06
142,142,sarai mir,0,IN,1558378781,35,26.02,82.92,86.00,3.36
153,153,porto novo,20,BR,1558378783,53,-23.68,-45.44,77.00,4.70
157,157,charlestown,1,US,1558378784,64,41.38,-71.64,87.01,12.75
176,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93
188,188,lagoa,20,PT,1558378790,46,37.14,-8.45,73.40,18.34
223,223,koronowo,20,PL,1558378736,60,53.31,17.94,71.01,3.36
237,237,andradas,20,BR,1558378535,56,-22.07,-46.57,79.00,6.93
244,244,pasni,0,PK,1558378823,52,25.26,63.48,86.82,9.17
247,247,puerto escondido,5,MX,1558378824,66,15.86,-97.07,86.00,9.17
297,297,mogok,0,MM,1558378844,51,22.92,96.51,72.24,2.77
316,316,gunjur,0,GM,1558378848,61,13.18,-16.76,80.60,9.17
332,332,morant bay,20,JM,1558378853,62,17.88,-76.41,86.00,23.04
374,374,reguengos de monsaraz,20,PT,1558378861,49,38.42,-7.53,71.60,14.99

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [12]:
hotel_df = ideal
hotel_df['Hotel Name'] = ""
hotel_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
14,14,constitucion,5,MX,1558378757,4,23.99,-104.67,84.20,16.11,
56,56,pisco,0,PE,1558378764,30,-13.71,-76.20,75.99,11.41,
68,68,beja,20,PT,1558378766,49,38.02,-7.87,71.60,14.99,
70,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32,
88,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50,

In [ ]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "location": locations
    "rankby": "distance",
    "type": "restaurant",
    "key": gkey,
}
# use iterrows to iterate through pandas dataframe
for index, row in types_df.iterrows():

    # get restaurant type from df
    restr_type = row['ethnicity']

    # add keyword to params dict
    params['keyword'] = restr_type

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {restr_type}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest {restr_type} restaurant is {results[0]['name']}.")
        
        types_df.loc[index, 'name'] = results[0]['name']
        types_df.loc[index, 'address'] = results[0]['vicinity']
        types_df.loc[index, 'price_level'] = results[0]['price_level']
        types_df.loc[index, 'rating'] = results[0]['rating']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure